/* Global styles */
body {
    background: white;
    font-family: 'Bodini MT', Didot;
    margin: 0;
}

a {
    color: powderblue;
    text-decoration: none;
    font-size: 20px;
    margin: 20px;
}

a:hover {
    text-decoration: none;
    color: navy;
}

.content-wrap {
    max-width: 950px;
    margin-left: 100px;
}

.col-narrow {
    width: 30%;
    float: left;
    min-height: 120px;
}

.col-wide {
    width: 70%;
    float: left;
    min-height: 120px;
}

/* Header and footer */
header, footer {
    color: lightsteelblue;
    text-align: center;
    margin: 40px;
    padding: 200 px;
}

header h1, header h2 {
    color: lightskyblue;
    margin: 0;
}

header h1 {
    font-family: 'Cinzel', serif;
    font-size: 40px;
    margin-bottom: 20px;
}

h2 {
    padding-top: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid navy;
}

.current {
    color: navy;
}

nav {
    padding-top: 15px;
    margin: 20px;
    padding-bottom: 0px;
    border-top: 2px solid #f2f5fc;
    border-bottom: 2px solid #f2f5fc;
}

footer {
    clear: both;
    position: relative;
    bottom:0;
}

/* Home */
.home {
    background-image: url("../images/park.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: 1800px, 1200px;
    bottom: 0;
    
    color: lightcyan;
    font-size: 40px;
    text-align: center;
}

.home h1 {
    margin-top: 275px;
    font-size: 80px;
    padding-bottom: 40px;
}

.home a {
    border: 2px solid lightcyan;
    color: lightcyan;
    font-size: 40px;
    margin: 20px;
    padding: 10px;
}

.home a:hover {
    color: lightslategrey;
    border: 2px solid lightslategray;
}

/* About */
/* .about { */
    /* display: inline-block;
    vertical-align: middle; */
    
    /* margin-left: 150px; */
/* } */
.container {
    position: relative;
}

.jumbotron {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);
}

.about img {
    float: left;
    margin-right: 20px;
    padding-bottom: 40px;
}

.about h2 {
    clear: both;
}

.profile-img {
    width: 300px;
    border-radius: 50%;
}